.list-item {
    display: flex;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: solid 1px black;
}

.item-img {
    width: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

.list-item:hover {
    cursor: pointer;
    background-color: rgb(64,224,208);
}

.text-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.detail {
  font-size: 0.8rem;
}
