<div *ngIf="isReady" class="list-item">
    <img [src]="item.getImg()" alt="Not found" class="item-img">
    <div class="text-container">
      <span class="text">{{item.getText()}}</span>
      <span class="detail">{{getDetail()}}</span>
    </div>
</div>
