<div *ngIf="isReady">
    <p-dataList [value]="list">
        <p-header>{{title}}</p-header>  
        <ng-template let-item pTemplate="item">
            <app-list-item
                [item]="item"
                (click)="selectedItemOutput(item)"
            ></app-list-item>
        </ng-template>
    </p-dataList>
</div>
