<div class="main-container">
    <div class="spinner-container">
        <router-outlet></router-outlet>
        <spinner-component [spinnerShow]="spinner.getShowSpinner()"></spinner-component>
    </div>
    <app-dialog [dialogShow]="dialog.getShowDialog()" [title]="dialog.getTitle()" [text]="dialog.getText()"></app-dialog>
</div>