.title {
  text-align: center;
}

.content {
  padding-left: 2rem;
}

.user-container, .body-container {
  border: solid 1px black;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 2rem;
}

.user-text, .body-text {
  padding-left: 2rem;
  padding-right: 2rem;
  white-space: pre-wrap;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button {
  width: 5rem;
  margin: auto;
}
