<div class="container">
  <div *ngIf="data">
    <h2 class="title">{{data?.issue?.title}}</h2>
    <div class="content">
      <div class="user-container">
        <span class="user-text">{{data?.issue?.user?.login}}</span>
      </div>
      <div class="body-container">
        <div class="body-text">
          {{data?.issue?.body}}
        </div>
      </div>
    </div>
  </div>
  <button pButton class="button" type="button" label="Back" (click)="goBackClick()"></button>
</div>
