<div *ngIf="isReady" class="content">
  <app-list
    [title]="'Angular Issues'"
    [list]="issuesList"
    (selectedItem)="navigateToIssue($event)"
  ></app-list>
  <div class="button-container">
    <button pButton type="button" class="button" label="First" [disabled]="!iteratorService.hasFirst()" (click)="paginate(pagination.First)"></button>
    <button pButton type="button" class="button" label="Prev" [disabled]="!iteratorService.hasPrevious()" (click)="paginate(pagination.Prev)"></button>
    <button pButton type="button" class="button" label="Next" [disabled]="!iteratorService.hasNext()" (click)="paginate(pagination.Next)"></button>
    <button pButton type="button" class="button" label="Last" [disabled]="!iteratorService.hasLast()" (click)="paginate(pagination.Last)"></button>
  </div>
</div>
